fastapi
uvicorn
aiogram
supabase
python-dotenv
pydantic-settings
groq
openai
apscheduler
cryptography
google-auth
google-auth-oauthlib
google-api-python-client
feedparser
beautifulsoup4
httpx
igptai
google-genai
